/* Global Styles */
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 1rem;
}

form input {
  margin-bottom: 0.5rem;
}

/* Invoice Item Styles */
.invoice-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* Optional: to add a border between items */
}

.item-name {
  flex: 2;
  font-weight: bold;
}

.item-description {
  flex: 3;
  padding-left: 10px; /* Optional: space between name and description */
}

.item-amount {
  flex: 1;
  text-align: right;
}

/* Custom Spacing */
.custom-space {
  margin-left: 3cm; /* Adjust as needed */
}
/* SignaturePad.css */
.signature-canvas {
  border: 1px solid #000;
  background: #fff;
}
/* styles.css */
.custom-max-width {
  max-width: 1000px; /* Adjust the value as needed */
}
